[2013-02-16 02:45] cketcham opened #1 "Remove Send Crash report since it is no longer useful"
Send crash report is no longer useful on newer phones because we can only see our own logs. These logs are already being reported with LogProbe so sending a crash report is unnecessary. We can also receive crash reports through the play store since we are distributing the app that way.

[2013-02-18 21:56] cketcham opened #2 "login URL defaults to HTTP if protocol is not specified Edit"
If a user manually types in a URL on the login screen, the app prepends http:// to it instead of https://. This causes logins to fail.

[2013-02-18 22:03] #2 closed, assigned to cketcham

[2013-02-19 22:37] cketcham opened #3 "Add commit hash to admin settings"
It would be good to be able to see the git commit hash on the admin settings screen.

[2013-02-19 22:38] #3 closed, assigned to cketcham

[2013-02-20 17:12] cketcham opened #4 "Handle json exception when uploading responses"
Instead of throwing a runtime exception when a response fails to encode to json, we should log the response, set it as having an error, and skip it.

[2013-02-21 18:29] jshslsky opened #5 "remove campaign filter bar in place of a menu"
(This is just capturing a discussion we were having.)

The menu would allow users to filter by campaign or survey.

We can do some mock implementing after cens/ohmagePhone#423.

[2013-02-27 17:31] cketcham opened #6 "handle lots of points in the db"
Android just can't handle more than about 17000 points in a query at a time. since probes can potentially create this much data, we should limit the number of points we query for in a single request, and just make multiple requests until all the data is processed. We should backport this to 2.14 for Dony.

[2013-02-27 17:54] cketcham commented on #6
It also depends on the size of the points and the amount of memory the phone has to store the cursor. since it doesn't do any paging, it tries to read all the data at once which causes it to run out of memory.

[2013-02-27 19:23] cketcham commented on #6
After some initial testing, both the the vibrant runs out of memory and completely stops with 30000 points at 10000 bytes per point. The galaxy nexus kills a bunch of things, but actually continues to upload points ok.

[2013-02-27 21:42] #6 closed, assigned to cketcham

[2013-02-28 17:02] jshslsky opened #7 "check for support for XML cruft - 2.14"
See John's commits here: cens/ohmageServer#501

[2013-02-28 17:03] cketcham commented on #7
The crash we experienced:

E/AndroidRuntime( 6736): FATAL EXCEPTION: main
E/AndroidRuntime( 6736): java.lang.IllegalArgumentException: Display type does not exist: null
E/AndroidRuntime( 6736):    at org.ohmage.conditionevaluator.DataPoint.setDisplayType(DataPoint.java:153)
E/AndroidRuntime( 6736):    at org.ohmage.activity.SurveyActivity.getPreviousResponses(SurveyActivity.java:914)
E/AndroidRunt

[2013-02-28 17:03] cketcham commented on #7
I'll just remove any reference to the same fields rather than just ignoring the fact that they aren't there.

[2013-02-28 17:05] jshslsky commented on #7
That seems like a wise choice. If we ever need to add them back, we will have a concrete use case that will likely differ from the previous usage anyway.

[2013-02-28 17:14] hongsudt commented on #7
For curiosity, what caused the crash? New XML?
On Feb 28, 2013 9:05 AM, "Joshua Selsky" notifications@github.com wrote:

[2013-02-28 17:15] jshslsky commented on #7
Yep.

[2013-02-28 17:15] cketcham commented on #7
the fact that the prompt didn't have displayType set. even though we don't use it on the phone, it throws an exception if its not valid.

[2013-03-01 00:02] #7 closed, assigned to cketcham

[2013-03-06 05:21] irhs opened #8 "Ability for a campaign/survey author to configure survey triggers"
The current code base only allows survey participants to set triggers of their choice for a survey of their choice. This is good for the user, but as a researcher I want to prompt for surveys to subjects at random times or specific times of my choice.

Do you have any plans to add this capability?

[2013-03-06 22:18] jshslsky commented on #8
When you set a user up on a phone for the first time, you can configure triggers to be at random times. (There are also location triggers if you haven't found those yet.)

As to your issue, this is something the ohmage team has discussed at length in the past. It is something we would consider adding to a given campaign's configuration, but this has ramifications across all of the users sharing a

[2013-03-06 22:33] cketcham commented on #8
Any configuration you want built into your version of the app can be put in the /res/raw/triggers.json file. This file populates triggers for a campaign when it is downloaded to the phone.

Info for configuring this file can be found in the [TriggerInit.java](https://github.com/ohmage/ohmageAndroidLib/blob/master/src/org/ohmage/triggers/base/TriggerInit.java) file above the addDefaultTriggers func

[2013-03-07 21:48] cketcham opened #9 "verify the distinct query when uploading probes works if there is data from two versions of the same probe"
I'm not sure if the way we upload probes now can handle the case where there is data from two probes with the same observer id but different version numbers. Need to double check.

[2013-03-10 21:19] irhs commented on #8
Thank you. This is helpful.

Do you have any developers mailing group? Such queries seem more appropriate there.

[2013-03-11 14:10] jshslsky commented on #8
We like to use GitHub because it helps to keep our technical discussions less fragmented. Some issues may turn into features or may be referenced to commits, etc.

[2013-03-20 16:23] cketcham opened #10 "after uploading a remote response the response doesn't appear in the response history"
The response will only be shown in the history after the data is refreshed since the response was a remote response (i.e. added to ohmage over the probe interface). For some reason even when refreshing the response list the response is not downloaded.

[2013-03-20 16:24] cketcham opened #11 "The timestamp sent for timestamp prompts does not include the timezone"
The timestamp should include the timezone.

[2013-03-21 17:02] cketcham opened #12 "The timestamp displayed for timestamp prompts is converted to local time"
The timestamp should be shown as the time when the participant collected the data. It should not be converted to local time.

[2013-03-21 19:14] cketcham opened #13 "timestamp for response in response list and response info does not use the correct timezone"
The timestamp is formatted for the local time of the phone. The time should be parsed relative to the timezone of the response.

[2013-03-21 21:36] cketcham commented on #10
Actually is a bug caused by the timezone not being sent to the server on the request. The server also wasn't reading the timezone.

[2013-03-21 22:24] cketcham commented on #9
the distinct query does not work quite right. it will only select a single observer version pair if there is more than one version.

[2013-03-21 22:24] #1 closed, assigned to cketcham

[2013-03-21 22:24] #4 closed, assigned to cketcham

[2013-03-21 22:24] #10 closed, assigned to nobody

[2013-03-21 22:24] #11 closed, assigned to cketcham

[2013-03-21 22:24] #12 closed, assigned to nobody

[2013-03-21 22:24] #13 closed, assigned to cketcham

[2013-03-22 17:10] #9 closed, assigned to nobody

[2013-03-25 16:32] ctrance opened #14 "Initial mobility set up - error"
I just installed the mobility then opted to do a '5 min' sampling interval at 6:59 am. The first log shows 'error - 6:59 am' then followed by 'still - 7:00am'. It should have been 'still - 6:59 am' then followed by 'still - 7:04 am'.

[2013-03-25 16:33] ctrance opened #15 "Location reminder page is not scrolling to the bottom"
I was trying to add new location reminder but cannot scroll all the way to the bottom to see 'Minimum re-entry interval' value. I had to tap the said field just to see the value.

[2013-03-25 16:34] ctrance opened #16 "Defining locations pop up shows 'Web page not available'"
I tapped 'Manage Locations' then tapped a place then added a new place. I tapped the added place to set on the map and I got a 'web page not available' error on Defining Locations pop up.

Error msg: The requested file was not found. trigger_loc_maps_help.html

[2013-03-25 16:49] ctrance opened #17 "App is crashing when adding location reminder on android 4.1.2"
I was trying to add a location reminder using android emulator (target Google API, platform 4.1.2) but every time I click 'Done' the app crashes. The error I'm getting is 'unfortunately ohmage-dev has stopped'.

[2013-03-25 17:31] cketcham opened #18 "Change update password button on profile activity"
"Update Password" is confusing to users since it makes it look like they can change their password from the phone. We are changing the button to "Sync Password" since it is slightly less confusing.

[2013-03-25 17:44] #18 closed, assigned to cketcham

[2013-03-25 17:51] cketcham commented on #14
moved issue to MobilityPhone https://github.com/cens/MobilityPhone/issues/20

[2013-03-25 17:51] #14 closed, assigned to nobody

[2013-03-25 18:05] ctrance commented on #17
03-25 10:59:44.846: E/Trace(4504): error opening trace file: No such file or directory (2)
03-25 10:59:46.865: E/AndroidRuntime(4504): FATAL EXCEPTION: main
03-25 10:59:46.865: E/AndroidRuntime(4504): java.lang.RuntimeException: Unable to start service org.ohmage.triggers.types.location.LocTrigService@41271298 with Intent { act=org.ohmage.triggers.types.location.LocTrigService.start_trigger cmp=or

[2013-03-25 18:21] #15 closed, assigned to nobody

[2013-03-25 19:29] jshslsky opened #19 "Refactor triggers into a library APK."
1. It will clean up the ohmage codebase.
2. It will allow others to incorporate triggers into their application.

[2013-03-25 20:07] ctrance opened #20 "Location reminder is not triggered when reaching the location."
I set up a location reminder (parking lot 9) to trigger always. I tested both the actual phone and on the emulator (2.3) but the notification didn't trigger when I reached the location (34.067458, -118.443756).

[2013-03-25 20:10] ctrance commented on #20
03-25 20:04:33.878: D/LocTrigService(717): LocTrigService: Handling GPS sample alarm
03-25 20:04:33.888: D/LocTrigService(717): LocTrigService: Stopping motion detection...
03-25 20:04:33.908: D/LocTrigService(717): LocTrigService: Turning on location updates
03-25 20:04:33.928: D/LocTrigService(717): LocTrigService: Setting alarm: org.ohmage.triggers.types.location.LocTrigService.GPS_TIMEOUT
03-2

[2013-03-25 20:33] #17 closed, assigned to nobody

[2013-03-25 20:33] #16 closed, assigned to nobody

[2013-03-26 16:13] ctrance opened #21 "Upload streams not showing network error message when uploading w/o data connection"
In 'Mobility' module I'm getting an error 'network error occured while trying to upload streams' after tapping 'Upload Now' w/o data connection.

However, in 'Streams' module when I tap 'Mobility v1.4.3' > Upload no error message shows as if it got uploaded w/o data connection.

[2013-03-26 18:04] ctrance commented on #15
The latest apk has fixed this issue.

[2013-03-26 18:13] ctrance commented on #16
The latest apk has fixed this issue.

[2013-03-26 19:40] #21 closed, assigned to nobody

[2013-03-27 15:32] cketcham opened #22 "Evaluate current probe architecture"
We may have to do some redesign to the probe architecture so it is more tolerant of application crashes. Because there can be some time between sending a probe, receiving it at the probe manager and saving to the db, if a probe crashes the point can be lost.

Three options which could potentially fix the issue:
- ACK the data, and resend points that aren't received. This may still not work if the

[2013-04-01 16:05] ctrance commented on #21
Retested and is fixed now.

[2013-04-01 16:18] jshslsky opened #23 "summary table for probes"
Add a summary stats table for probes for displaying probe info in the UI.
- total number of points
- average size per point
- max point size
- min point size
- total amount of data uploaded.

[2013-04-01 16:19] jshslsky opened #24 "remove send probe permission"
This can cause problems if a participant installs the apps "out of order".

To recreate: install mobility and then install ohmage.

[2013-04-01 16:20] jshslsky opened #25 "introspect on probes to figure out the data sender"
This is metadata that could be used for a variety of cases such as logging or even blocking an unknown probe from being able to upload.

[2013-04-01 21:53] ctrance opened #26 "Mobility crashes on android 2.2"
When I open 'Mobility' app on the 2.2 android emulator (Target: Google API), I'm getting error 'Application Mobility (in process org.ohmage.mobility is not responding'. Then on ohmage-dev, when I go to Mobility>Control and selected a sampling interval I'm always kicked back to the main dashboard.

Is the app required to be compatible with android 2.2? If no, then please close this issue.

[2013-04-01 22:02] ctrance opened #27 "Tapping notification didn't open the pending survey page"
I created a time reminder on 2.2 android emulator (Target: Google API) then restarted the device. The reminder still triggered at the set time but when I tapped the campaign on the notification, I wasn't redirected to the pending survey page.

[2013-04-01 22:09] ctrance opened #28 "Can't install ohmage-dev on android 1.6"
I'm getting 'can't install this app on the phone' error when trying to install web.ohmage.org/~cketcham/ohmageApp-release.apk on android 1.6 emulator (target Google API).

[2013-04-01 22:57] ctrance opened #29 "Reminder did not trigger after restarting 4.0 android emulator"
I added a time reminder on android 4.0 emulator (target: Google API) then restarted the device. On the set time no notification shows and the survey with the reminder didn't show in the pending survey.

[2013-04-02 00:55] cketcham commented on #28
we only support devices down to 2.2

[2013-04-02 00:55] #28 closed, assigned to nobody

[2013-04-02 16:03] cketcham commented on #27
Can you describe the exact steps to reproduce this? Does this always happen to you? I can't seem to get this to happen.

[2013-04-02 16:08] cketcham commented on #26
Can you include the log from adb for this crash?

[2013-04-02 18:08] cketcham commented on #29
I wonder if this bug is limited to the emulator? or it could be that the trigger already when off? (If you set a trigger and it goes off once, you have to delete it and set another trigger. If you just change the time of an existing trigger, it wont go off until the next day). I tried setting a notification on my phone, restarted the phone, and the notification went off at the correct time.

Do yo

[2013-04-02 18:13] #24 closed, assigned to cketcham

[2013-04-03 16:46] ctrance commented on #29
1. Started the emulator, set up with target=Google API & platform=4.0.
2. Installed the apk from web.ohmage.org/~cketcham/ohmageApp-release.apk
3. Added a campaign.
4. Set up a time reminder for the added campaign.
5. Closed the emulator.
6. Relaunched the emulator, w/o wiping user data.

[2013-04-03 17:13] ctrance commented on #26
This is the log when launching Mobility app on the android 2.2 emulator
04-03 17:06:27.229: W/ActivityManager(71): Timeout of broadcast BroadcastRecord{4514bc88 org.ohmage.mobility.record} - receiver=android.os.BinderProxy@4504d9b8
04-03 17:06:27.229: W/ActivityManager(71): Receiver during timeout: ResolveInfo{4514bb78 org.ohmage.mobility.SampleReceiver p=0 o=0 m=0x108000}
04-03 17:06:27.495: E/Ac

[2013-04-03 17:20] ctrance commented on #26
This is the log when opening 'Control' from Mobility module in ohmage-dev app.

04-03 17:14:17.696: E/MapActivity(854): Couldn't get connection factory client
04-03 17:14:22.668: W/ActivityManager(71): Timeout of broadcast BroadcastRecord{45137840 org.ohmage.mobility.garbagecollect} - receiver=android.os.BinderProxy@450d05e0
04-03 17:14:22.668: W/ActivityManager(71): Receiver during timeout: Resol

[2013-04-03 17:30] cketcham commented on #26
moved to https://github.com/cens/MobilityPhone/issues/23

[2013-04-03 17:35] cketcham commented on #26
actually a wifigpslocation bug. moved here https://github.com/ohmage/WiFiGPSLocation/issues/2

[2013-04-03 18:03] cketcham commented on #26
I am actually unable to reproduce this bug. can you provide the steps to reproduce? also can you make sure you are using the latest ohmage android apk?

[2013-04-03 18:05] ctrance commented on #27
I just retested and is working now, must be a bug from the emulator.

[2013-04-03 18:05] #27 closed, assigned to nobody

[2013-04-03 18:13] jshslsky opened #30 "update / audit testing spreadsheet"
The testing spreadsheet is out-of-date and external testers are having difficulty understanding the tests.

[2013-04-03 18:14] ctrance commented on #26
I download the latest ohmage-dev apk from web.ohmage.org/~cketcham/ohmageApp-release.apk then the latest mobility 1.4.4 from web.ohmage.org/ohmage/apsk.php. To reproduce this bug, please follow the steps below:
1. installed ohmage dev first then installed mobility
2. tapped 'mobility' then go to 'controls'. selected a sampling interval '1 min'

Then I got out of ohmage-dev and opened 'mobility' ap

[2013-04-03 18:14] cketcham opened #31 "Reminder won't bring user to survey list the second time they click a notification (in some cases)"
this is connected to how the activity stack is handled currently to deal with the home button. we should revisit this after the actionbarsherlock addition

[2013-04-03 19:43] ctrance opened #32 "After getting an auth error, I was not taken back to login screen"
I changed my current password from the front end (test.ohmage.org) then refreshed the campaigns on the ohmage-dev app. I got an auth error notification but I was not redirected to login screen. I still remain on 'My Campaigns' screen.

[2013-04-03 19:55] ctrance commented on #32
I'm closing this, I had to tap the auth error notification from the phone's notification list in order to be redirected to the login screen. I thought tapping the auth error msg while on the app will redirect me but no.

[2013-04-03 19:55] #32 closed, assigned to nobody

[2013-04-03 21:35] ctrance opened #33 "Pending (survey filter) doesn't show counter."
On test case no.84 (https://docs.google.com/spreadsheet/ccc?key=0AuPU77vjksOAdFVqSWFqb0s4c3haWWc3Z3lDMmdTVlE#gid=5), it's stated that there should be a number/counter right next to the 'Pending' filter but no counter shows.

[2013-04-03 22:24] cketcham opened #34 "Reminder will never be triggered if phone was off during the trigger time"
The trigger which happened while the phone was off should be shown in the notification bar once the phone is restarted (as long as the notification duration has not been passed)

[2013-04-03 22:55] cketcham commented on #29
tested on a device and did not have a problem for reminders which were set after the phone was turned back on. Any reminders which were set while the phone was off were not shown. created #34 to deal with this bug.

Closing this since it is limited to emulators

[2013-04-03 22:55] #29 closed, assigned to nobody

[2013-04-03 23:10] cketcham commented on #26
This is actually a mobility bug and has been fixed on the play store (version 1.4.5), but was not pushed to web.ohmage.org/ohmage/apsk.php

here is the version of mobility you should test with: http://web.ohmage.org/ohmage/sw/mobility-1.4.5.apk

[2013-04-03 23:10] #26 closed, assigned to nobody

[2013-04-03 23:12] cketcham commented on #26
For our reference in the future, the crash occurred because LogProbe tried to write a log before the application initialized it. This can occur in the ContentProvider because it can be created before the application.

D/MobilityContentProvider(  365): Query: content://org.ohmage.mobility.MobilityContentProvider/mobility/aggregates
D/MobilityContentProvider(  365): Query: content://org.ohmage.mobil

[2013-04-04 15:56] ctrance commented on #26
The mobility 1.4.5 app is working now. However, I'll close this issue once ohmage-dev apk has been updated. Tapping 'mobility' from ohmage-dev and selecting a sampling interval still kicks me back to the dashboard.

[2013-04-04 17:46] ctrance opened #35 "Single Campaign Mode shows incorrect dashboard."
The expected items on the dashboard (accdg. to the test plan) are only survey, mobility and help for single campaign mode but Response History, Upload Queue, Profile, and Streams are showing.

[2013-04-04 17:47] ctrance commented on #35
The response history button (calendar icon) shows on Survey Info page too.

[2013-04-04 19:49] cketcham commented on #35
Those tests were actually incorrect. It should actually be changed by the setting "Show Feedback" in the admin settings. I removed the previous testing results on the test plan. please retest with the updated test plan.

[2013-04-04 20:10] ctrance opened #36 "Photo/Video still cached in the phone's Upload folder after deleting the survey"
I completed the survey then stopped the campaign on the front end. I opted to delete the survey response after getting an upload error since the campaign has stopped. The photo that was taken is still cached and not deleted in /sdcard/Android/data/org.ohmage.dev/cache/uploads on the device.

Same issue was encountered on video caching.

[2013-04-04 21:41] ctrance opened #37 "Response list items don't show status"
I went to 'Response History' then tapped the count of responses on the calendar. The response list didn't show the status of each response.

[2013-04-04 22:37] cketcham commented on #37
Those tests need to be updated. We basically need to test that responses with any status is visible in the response list. I'll update the test cases in the testing sheet.

[2013-04-05 17:37] ctrance commented on #37
I'm closing this then.

[2013-04-05 17:37] #37 closed, assigned to nobody

[2013-04-05 17:56] ctrance opened #38 "Response History's Calendar & Map don't update when tapping the refresh button"
I deleted a response from the server then tapped refresh button from Response History page (when I tap the button, the loading indicator doesn't show). The counter on the calendar and the map didn't update, it only updated when I go to the dashboard then go back to Response History.

[2013-04-05 21:01] ctrance opened #39 "App stops when changing the device's timezone"
I was trying to test the timezone impact on responses but came across a different issue. Every time I change the timezone of the device, I'm getting this issue >>The application ohmage-dev (process org.ohmage.dev) has stopped unexpectedly. Please try again.<<

Here's the log:

04-05 16:52:31.219: E/AndroidRuntime(26490): FATAL EXCEPTION: main
04-05 16:52:31.219: E/AndroidRuntime(26490): java.lang.

[2013-04-05 22:35] ctrance opened #40 "Notification Duration and Suppression window shows incorrect ranges"
The test case says the correct range for Notification Duration and Suppression window is 0-60 but below are the ranges that show on 'Notification Settings'

Notification duration: 1-1440
Suppression window: 0-1140

[2013-04-08 19:02] cketcham commented on #40
We actually changed this without updating the test cases. fixed on the test cases

[2013-04-08 19:05] #38 closed, assigned to nobody

[2013-04-08 19:05] #39 closed, assigned to nobody

[2013-04-08 19:11] ctrance opened #41 "Remind again didn't go off after deleting the other set time"
I set up (2) 'remind again', a 5-min and a 10-min. The (2) remind again go off correctly on the phone then I deleted the 10-min but kept the 5-min. The last reminder was triggered on 3:03 pm but by 3:08 (even waited till 3:11 pm) the reminder didn't go off as if I deleted all 'remind again'.

[2013-04-08 19:16] ctrance commented on #40
This is not an issue anymore, Notification duration & Suppression window are validating as expected.

[2013-04-08 19:16] #40 closed, assigned to nobody

[2013-04-08 19:38] cketcham commented on #41
What was the exact sequence of steps for creating reminders, creating remind again times, and removing the remind again times?

[2013-04-08 19:42] ctrance commented on #41
1. Created a time reminder to go off on 2:53 pm.
2. Added 'remind again' 5 mins.
3. Added 'remind again' 10 mins.
4. At 2:53, 2:58, & 3:03 reminder go off.
5. At 3:04, I deleted 10-mins 'remind again' but kept the 5-mins.

[2013-04-08 19:51] jshslsky opened #42 "Use google maps api version 2 instead of the custom compatibility library"
The custom compatibility library makes it more difficult for third party developers to take our app and do things with it. Using the new version of the maps api will clean up the code and make it easier for people to get started tinkering with the code.

[2013-04-08 20:36] ctrance opened #43 "Notification setting doesn't affect the other campaign"
On campaign A I set the notification setting as 'Notification duration=5 mins/Remind again=2 mins". I went to campaign B just to make sure the notification setting there changes too, it did but after 2 mins only campaign A reminder go off. I waited for 6 mins and still campaign B reminder didn't go off. Also after 5 mins, the notification for campaign A also cleared from the notification list but

[2013-04-08 20:51] cketcham commented on #41
The remind again times calculates the new time to show a notification based on the original time of the notification. So if you have two remind again times for 5 and 10 minutes, and a reminder set for 2:53, you will get notifications at 2:53, 2:58 and 3:03. If you go and change the remind again times, it recalculates the offsets based on the time of the original notification.

So in this case even

[2013-04-08 21:03] ctrance commented on #41
So basically the remaining 5 mins 'remind again' is useless, I thought it will recalculate based on the last trigger. I'll test your scenario above.

[2013-04-08 21:05] cketcham commented on #41
yeah in that case it would be. but if you had another reminder go off in the future (say at 3:10), then the 5 minute remind again would give another reminder (at 3:15). And since you deleted the 10 minute remind again, a reminder will not go off in 10 minutes (at 3:20).

[2013-04-08 21:24] cketcham commented on #43
What were your exact steps for changing the notification settings and creating reminders?

[2013-04-08 21:28] ctrance commented on #41
The remind again edit/delete is behaving as expected, it's calculating based on the original time of the notification.

[2013-04-08 21:28] #41 closed, assigned to nobody

[2013-04-08 21:41] ctrance commented on #43
@cketcham - I might have used the same scenario as #41. After retesting, the notification setting is behaving correctly for both campaign A & B.

[2013-04-08 21:41] #43 closed, assigned to nobody

[2013-04-08 23:22] #36 closed, assigned to cketcham

[2013-04-09 15:55] ctrance commented on #39
This issue has been retested and is fixed now.

[2013-04-09 16:44] ctrance opened #44 "Reminder that went off while phone was off doesn't show on Notification list"
I set the time reminder at 10:33 am then turned off the phone on 10:32. I turned the phone on again at 10:34 but the reminder didn't show on the notification list. I even waited a couple of minutes just to see if it will show but it didn't.

[2013-04-09 16:54] ctrance opened #45 "App crashes when clicking 'install mobility' button"
On Mobility page, I clicked 'install mobility' button but I'm getting this error message >>unfortunately, ohmage-dev has stopped<<

here's the log:
04-09 10:53:01.645: E/Trace(1174): error opening trace file: No such file or directory (2)
04-09 10:53:04.724: E/SurfaceFlinger(37): ro.sf.lcd_density must be defined as a build property
04-09 10:53:05.454: E/MapActivity(1174): Couldn't get connection

[2013-04-09 17:05] ctrance opened #46 "App doesn't prompt to update old mobility (1.3.7) but to install"
This test case has failed >>If an old version of mobility is installed verify that the mobility activity displays a message telling the user to make sure mobility is up to date<<

I was prompted to install mobility instead of updating old version.

[2013-04-09 19:53] cketcham commented on #44
duplicate of #34

[2013-04-09 19:53] #44 closed, assigned to nobody

[2013-04-09 19:54] ctrance opened #47 "Single Campaign Mode shows deleted campaign's survey in the Survey page"
I deleted InstantRecess campaign from Single Campaign class then did a 'sync password' from Profile. After logging in, the Survey page still shows 'Recess' survey with error icon.

According to the expected behavior >>if the campaign in use changes and there is no campaign to use, there should be no surveys, responses, or triggers and you can't set reminders and status shows unknown campaign error

[2013-04-09 19:56] cketcham commented on #45
This should only be a bug on the emulator. Could you retest on a real device?

[2013-04-09 19:59] ctrance commented on #45
Closing this, it's working on the actual device. My bad, I forgot there's no play store on emulators.

[2013-04-09 19:59] #45 closed, assigned to nobody

[2013-04-09 20:01] cketcham opened #48 "Add Audio prompt type"
we want to allow users to record audio as a prompt type like video or images

[2013-04-09 20:01] cketcham opened #49 "Add decimal prompt type"
We want to allow decimal input as a prompt type

[2013-04-09 20:02] cketcham opened #50 "Add images to prompt questions"
We want to allow prompt questions to include images that are displayed on the phone when a user is taking a survey.

[2013-04-10 16:13] cketcham opened #51 "Use ActionBarSherlock"
This will simplify a lot of the code we have related to the action bar and navigating between activities. It will also refresh the look of our app (slightly) so it is more consistent with other android apps.

[2013-04-11 16:14] jshslsky opened #52 "allow decimal values in the number prompt type"
Server issue: cens/ohmageServer#539

If both min and max are whole numbers, show the increment buttons. If either min or max are floats, do not show the increment buttons. The input will be restricted by the number of allowed significant digits.

[2013-04-11 16:15] jshslsky commented on #52
Redundant issue.

[2013-04-11 16:15] #52 closed, assigned to cketcham

[2013-04-11 16:15] jshslsky commented on #49
Server issue: cens/ohmageServer#539

If both min and max are whole numbers, show the increment buttons. If either min or max are floats, do not show the increment buttons. The input will be restricted by the number of allowed significant digits.

[2013-04-11 16:15] jshslsky commented on #48
Server issue: cens/ohmageServer#540

[2013-04-11 16:20] jshslsky commented on #50
We'll have to figure out the best way to do this for each prompt type. It seems like number, text, timestamp, audio, photo and video can all be handled uniformly. Then for the choice types, the images will be for each choice.

If the image cannot be loaded, there will have to be text to display.

[2013-04-11 16:47] hongsudt commented on #50
so we should come up with a tag name, and I think it should also handle
multiple images..

On Thu, Apr 11, 2013 at 9:20 AM, Joshua Selsky notifications@github.comwrote:

[2013-04-11 16:56] cketcham commented on #50
we could do something like Markdown uses `![Alt text](/path/to/img.jpg "Optional title")`

[2013-04-11 17:33] jshslsky commented on #50
It seems like that would work and it wouldn't cause an XML parser to choke. Is there a Markdown lib for Android?

[2013-04-11 17:44] jojenki commented on #50
I'm not sure which is best, but we could always use the HTML tag, "img". If you are already using a XML parser, then adding a XPath query of "//img" would easily find all of the image tags.

[2013-04-11 17:44] hongsudt commented on #50
I need to learn a little bit more about markdown.. But one of the cons of
using this approach would be inconsistency in the config. If we go with
tags, it is consistent with the rest and doesn't require the campaign
author to understand another syntax.

On Thu, Apr 11, 2013 at 10:33 AM, Joshua Selsky notifications@github.comwrote:

[2013-04-11 17:47] jojenki commented on #50
Yes, but if we ever want to move away from XML, e.g. JSON, then having a more "universal" way of describing them would be better. It would be odd to have an "img" tag in the middle of some JSON string.

On the other hand, JSON already has a way to accomplish this using something that would not exist in any other language.

[2013-04-11 20:55] jshslsky commented on #50
How about

[code]

?

I don't think we should allow for more than one image.

[2013-04-11 20:58] jshslsky commented on #50
@cketcham when you show the image will you just auto-scale?

[2013-04-11 20:58] jojenki commented on #50
I was thinking directly in the text:

[code]

[2013-04-11 21:01] jshslsky commented on #50
That will only work for choice prompt types and it will break if someone wants both a label and an image.

[2013-04-11 21:07] cketcham commented on #46
This is actually caused because the older version of mobility had a different package name so it is technically correct to require them to install (rather than upgrade mobility). In 2.15 all versions of mobility with the package name org.ohmage.mobility are compatible, so this test is no longer necessary.

[2013-04-11 21:07] #46 closed, assigned to nobody

[2013-04-11 21:14] hongsudt commented on #50
Can we think of a solution that allows multiple images?  at least at the
question level..

On Thu, Apr 11, 2013 at 2:01 PM, Joshua Selsky notifications@github.comwrote:

[2013-04-11 21:22] jshslsky commented on #50
Can you provide an example use case?

If we allow multiple images, issues like ordering come up.

[2013-04-11 21:52] #47 closed, assigned to nobody

[2013-04-11 23:05] hongsudt commented on #50
The order of images can be based on the order in the xml..

Examples:
Comparing the first image with the second image, what are the difference?
Or for a message type, display multiple images as an intervention when you
feel stress..

On Thu, Apr 11, 2013 at 2:22 PM, Joshua Selsky notifications@github.comwrote:

[2013-04-12 13:54] jojenki commented on #50
@joshuaselsky The text and the image can be put together, e.g.

[code]

Although, this leads to rendering issues no matter if you use Markdown or HTML tags.

[2013-04-12 14:02] jojenki commented on #50
@hongsudt I think @joshuaselsky was simply referring to not allowing multiple images for, say, a single choice in a choice prompt. For example, a single choice prompt whose question is some text and _one_, of many, choices is:

[code]

It would render it like an web page would render it where one image follows the other.

I am not sure that this is worth explicitly disallowing. I think common sens

[2013-04-12 16:25] cketcham commented on #50
I agree with @jojenki. I don't see any reason to disallow more than one image.

I also am wondering about the format of how to define an image tag. I am still in favor of doing something more like Markdown rather than using an xml image tag. I think it is more confusing to use xml in the label text because this use is different than all other xml in the document. This embedded image is more like s

[2013-04-12 16:48] jshslsky commented on #50
OK, the multiple image use case makes sense. Thanks @hongsudt. For the styling I agree with @cketcham. If we use Markdown (very easy to learn), it will avoid cases where a campaign author could accidentally create XML that is not well-formed. Markdown is also interesting because we could have "label" text that includes bulleted lists. Probably should just support images for now.

@hongsudt here is

[2013-04-15 20:51] jshslsky opened #53 "rename campaign to project in the UI only"
The best approach would be something that allowed Mobilize to still use the word Campaign, but regular ohmage could use Project.

[2013-04-15 20:56] cketcham commented on #53
If we don't upgrade mobilize to 2.15 or 2.16 this year, then we don't have a problem. Do we know what is happening next year? If changing the name from campaign to projects is fine for next year that would be easiest, but if not, it is an easy change to keep mobilize using the word campaigns.

[2013-04-15 20:58] jshslsky commented on #53
Just to make sure I understand: would you just override the string with the word Campaign in the MobilizeApp repo?

[2013-04-15 20:59] cketcham commented on #53
Yeah. I plan to change the references to campaigns in the res/values/strings.xml file. In the MobilizeApp repo, I can just override those specific values so it stays campaign.

[2013-04-15 21:11] hongsudt commented on #53
For the next academic year (starting in aug), there is a chance that ohmage
will be used all year round by different classes.. I can try to pinpoint
this timeline and let you know.. But the plan is to use ohmage for data
collection in ECS, biology, science and stat classes.

On Mon, Apr 15, 2013 at 1:59 PM, Cameron Ketcham
notifications@github.comwrote:

[2013-04-15 21:16] cketcham commented on #53
It's ok if we change campaigns to be projects for that? or will we need to continue to use campaigns.

[2013-04-15 21:31] hongsudt commented on #53
I think Mobilize will continue to use "campaigns", but I can check whether
they are ok with the change.

my sense is that they would prefer not to change since we will need to
communicate the change to a large group of people which is extremely hard.

On Mon, Apr 15, 2013 at 2:16 PM, Cameron Ketcham
notifications@github.comwrote:

[2013-04-15 21:56] ctrance commented on #35
Behaving as expected on the new test case. I'm closing this issue.

[2013-04-15 21:56] #35 closed, assigned to nobody

[2013-04-15 21:57] ctrance opened #54 "User is still logged in after failing of campaign download."
Right after I logged in, I went to the phone’s setting and turned off my wi-fi (this is the only data connection I have)
I waited for 5 mins and went back to ohmage to see if the campaign has auto-downloaded
I’m still logged in, I was redirected to Sync Password (the last screen I was prior to turning off my data connection) instead of Login page after tapping ohmage on my phone. The campaign wasn

[2013-04-16 19:36] cketcham opened #55 "Fix the implementation for configurations for different servers"
The system currently writes over the users preferences values during login to set defaults for specific servers. The problem is that we then don't know if the user specifically chose a setting, or it was chosen during the login process. This makes setting a new default impossible (since we don't want to overwrite settings explicitly set by the user), unless the user logs out completely.

Because t

[2013-04-16 19:40] cketcham opened #56 "Single Campaign Mode fails to log in"
This failure is caused because the account does not exist in the system when we first make the call to download the campaign. This is done because we didn't want the user to be logged in if the campaign failed to download (for whatever reason. Although network failure is unlikely since the user had to connect to the network to be authenticated).

The easiest solution is to change the authenticated

[2013-04-16 19:48] cketcham commented on #54
This behavior will actually only happen during the initial log in. This is correct behavior if the "sync password" button is used. It should not change the campaign which is currently downloaded. I will need to give you a special apk which has singleCampaignMode set to true so it will log you in with single campaign mode the first time you log into the app.

[2013-04-16 19:48] #54 closed, assigned to nobody

[2013-04-16 20:09] #55 closed, assigned to cketcham

[2013-04-16 20:09] #56 closed, assigned to cketcham

[2013-04-17 18:20] ctrance opened #57 "Pilots.mobilizelabs deployment config is set to Admin mode=false but pin wasn't required"
I logged in to pilots.mobilizelabs where the deployment config sets Admin mode to false. Opening the setting didn't require for pin code, i'm using the latest version on web.ohmage.org/ohmage/apk

[2013-04-18 16:11] ctrance commented on #38
@cketcham - This issue remains unresolved after testing the version 2.15.3 (22702c8) downloaded from web.ohmage.org/ohmage/apk. Is that version old? If yes, can you please send me the latest apk?

[2013-04-18 16:36] cketcham commented on #38
That version should work. It tested and it is working for me. What are the steps you are doing that cause it to not remove the response that you deleted?

[2013-04-18 16:40] cketcham commented on #57
What steps did you take when you were first logging into the server? I can't seem to reproduce this with the latest apk.

[2013-04-18 16:42] ctrance commented on #38
I was testing the steps below on the emulator (google API 4.2.2)
1. Uploaded new response from the ohmage app
2. Logged in to front end then deleted the newly uploaded response.
3. Went back to ohmage app and clicked 'refresh' button from 'Response History'
4. The counter didn't refresh from 1 to 0.

Note: I even waited for 2 minutes, then clicked 'refresh' again but the counter didn't reset. When

[2013-04-18 16:43] cketcham commented on #38
I'm wondering if it is an issue with the emulator? could you try on an actual device?

[2013-04-18 17:25] ctrance commented on #57
Oops my bad, I thought it's on 'Settings' that the pin code prompt shows but it shows on accessing 'Admin Settings'. Sorry about that, I'll close this issue.

[2013-04-18 17:25] #57 closed, assigned to nobody

[2013-04-18 17:39] ctrance commented on #38
I tried it on the actual phone and after clicking refresh the counter still didn't refresh but when I click the counter it says 'no response'. When I switch to map then go back to calendar only then the counter resets.

[2013-04-18 18:52] cketcham commented on #38
maybe try uninstalling and reinstalling the latest apk from web.ohmage.org/ohmage/apk. I can't seem to reproduce the same problem you are experiencing. Does the progress spinner show next to the refresh button?

[2013-04-18 20:55] ctrance commented on #38
@cketcham  I reinstalled and the calendar is updating now after I clicked 'refresh' button but the Map still doesn't update after clicking 'refresh' (yes the progress spinner show).

Before I deleted the response on the front end, I'm viewing it on the response history 'map'. After I deleted the response on the front end, I clicked 'refresh' but the map didn't update (still showed the response). I

[2013-04-19 16:01] cketcham commented on #38
this bug is a minor issue which is fixed in the next release, so we can skip it for now.

[2013-04-22 20:23] #42 closed, assigned to cketcham

[2013-04-22 20:23] #51 closed, assigned to cketcham

[2013-04-22 22:59] cketcham commented on #22
checked the data from mobility for the past two weeks and it matches the number of points on the server exactly. (Running on Nexus 4)

[2013-04-24 18:47] stevenolen opened #58 "message tag not displayed"
Steve's complex xml tests campaign, message tag survey.

No message alert is displayed -- don't have a moment to add logs, but didn't want to forget! :)

[2013-04-24 19:00] cketcham commented on #58
what is it supposed to show? I see the timestamp prompt and then a message and thats it.

[2013-04-25 15:23] jshslsky opened #59 "ability to remove a custom choice"
It would be nice to be able to remove custom choices. The only way to remove them now is to reinstall the campaign.

[2013-04-30 21:30] cketcham commented on #49
For now we are going to see how we like keeping + and - and just having them inc or dec by 1

[2013-04-30 21:31] #53 closed, assigned to cketcham

[2013-04-30 21:31] #49 closed, assigned to cketcham

[2013-05-01 18:47] jshslsky opened #60 "allow restriction for whole numbers only to number prompt type"
Campaign authors should be able to restrict the number prompt type to whole numbers only.

[2013-05-02 16:37] cketcham opened #61 "Images for responses are not cached on the sdcard"
On JellyBean the image only seems to be cached in memory. When the application is restarted, the image is no longer available.

On 2.2 the image isn't on the sdcard, but the cache persists when the application is restarted, but not if the phone is rebooted.

The ResponseSyncService attempts to download the images to a cache, but it looks like it does not actually cache the images at all. After dow

[2013-05-02 16:38] cketcham commented on #58
@stevenolen what is the bug that you are experiencing?

[2013-05-06 22:32] cketcham opened #62 "deleting probes from the database while uploading can cause problems"
In the case where there are a lot of large probes, deleting probes while using a cursor to access the other probes can cause weird behavior.

On 2.2 and 2.3 devices, probes can be skipped and not uploaded in that batch. This can be problematic and lead to more and more probes being on the device unable to upload without user interaction.

On 4.2, and exception is thrown.

The cursor should be re-q

[2013-05-07 15:04] #62 closed, assigned to cketcham

[2013-05-08 18:49] jshslsky commented on #50
@jeroenooms how hard would it be to either (1) show an image on the axes or (2) show the alt text. We want to include images in the promptText and label elements and we are wondering how this will impact your visualizations?

[2013-05-08 18:56] jeroen commented on #50
@joshuaselsky I don't get your question. Which application are you talking about? From what I understand, this issue is about displaying the question, not the response?

[2013-05-08 19:05] jshslsky commented on #50
@jeroenooms For any of the choice prompt types an image can be in the content of the each choice's label element. That is where we suspect you might be impacted.

[2013-05-08 19:22] jeroen commented on #50
Oh. Hmm yes that is a bit problematic. I would have preferred to keep the label plain text, and put any markup language (being it html, markdown) in a separate tag. Has it already been implemented?

[2013-05-08 19:28] jshslsky commented on #50
No, this is why we asked you first.

How about `<imageLabel>` @cketcham @hongsudt?

[2013-05-08 19:35] jeroen commented on #50
I also would suggest not to mix `html` with `xml`. The thing above is a bit dangerous, because the `<img>` will be treated as a node in the campaign definition during the initial xml parsing.

So perhaps you want to put the contents of `<imageLabel>` inside a `<![CDATA[` tag?

[2013-05-08 19:38] cketcham commented on #50
I thought we were using markdown for both the prompt text and choice label to specify images

[2013-05-08 19:41] cketcham opened #63 "Prevent rounding errors for number prompts by using BigDecimal to represent it at all times"
Need to check that storing the value in the db works, as well as creating the json response which is sent to the server.

[2013-05-08 19:42] jeroen commented on #50
Oh okay that makes sense. I read over the discussion too quickly. But perhaps we should still use `CDATA` for the markdown? Just in case the markdown contains characters that could be interpreted as `xml` ?

[2013-05-08 19:49] jshslsky commented on #50
Cameron and I just discussed this here and I think we'll use a new element called `<longLabel>` and leave `<label>` alone. If the Android app finds a longLabel element, it can render that and then fallback to label.

[2013-05-08 20:02] jeroen commented on #50
Still it would be a good idea to establish some proper way of embedding an alternative language inside the XML. So you either need to make sure the contents will never contain xml reserved characters, or use `CDATA`.

Also, it is not unthinkable there in the future other use cases would arise where we want to embed some markup language elsewhere. So perhaps you want to have some general way of mar

[2013-05-08 20:14] hongsudt commented on #50
I like this solution.. so that there will be minimum impact to the
front-end and ocpu.. The front-end can implement the support for
<longLabel> later..

I am not sure I like <longLabel>, but since I don't have any better term,
we will go with it.

On Wed, May 8, 2013 at 12:50 PM, Joshua Selsky notifications@github.comwrote:

[2013-05-08 20:18] jojenki commented on #50
Looking ahead for 3.0, is this the solution we want to go with? If backwards compatibility weren't an issue, what would be the optimal solution?

[2013-05-08 20:28] jeroen commented on #50
@hongsuda perhaps `<markdownLabel>` would be better, to emphasize both to the campaign author and campaign consumer that this node must contain markdown.

[2013-05-08 20:41] jeroen commented on #50
@jojenki as stated above, it would be nice to define a unified way to embed non-xml fragments in our document, e.g. json, javascript, markdown, etc. It would be great if we could use some standard mime `content-type` codes to identify such embedded code.

Atom does something similar for embedding html/xhtml: http://www.xml.com/lpt/a/1633.

[2013-05-08 20:42] jshslsky commented on #50
For 3.0, we will define campaigns using Concordia, so this would become a JSON String.

I like `<markdownLabel>`.

[2013-05-09 01:06] hongsudt commented on #50
I also like markdownLabel

@jeroenooms  We are planning to support the same markdown on the prompt question as well. Will this affect your viz (i.e. ocpu and snackboard)?

[2013-05-09 01:09] jeroen commented on #50
That depends on if the output from `survey_response/read` will be affected. The viz (opencpu and dashboard) don't directly read the XML anywhere; the prompt names and labels are identified via `survey_response/read`, using column-wise and csv output, respectively.

[2013-05-09 01:11] hongsudt commented on #50
@jojenki @joshuaselsky  Do you guys plan to handle this on the backend? Or should Jeroen's handle it?

[2013-05-09 01:15] jeroen commented on #50
Lets do the same as for the label, where we keep the original question text in plain text, and allow for an optional additional node with markdown format. We should not assume that all clients will be able to render markdown.

[2013-05-09 14:00] jshslsky commented on #50
We don't need to return the value for `<markdownLabel>` from `survey_response/read`. That way this change will be completely transparent to all clients. The Android app reads the XML, so it will receive the entire contents with the new element included.

[2013-05-09 14:15] jojenki commented on #50
My $0.02 is that, if the 2.x APIs are dying and we are going with a complete overhaul of the system for 3.0, then this solution seems perfectly valid. We can run it through the ringer for this and then, going forward, have a more comprehensive solution like @jeroenooms suggested.

[2013-05-13 19:24] jshslsky commented on #48
For older phones (2.2, 2.3), the audio format will be AMR, but the code can be smart enough to figure out the best quality file format.

[2013-05-13 19:37] jshslsky commented on #50
We'll need to come up with guidelines for images so images can be rendered appropriately on devices with different pixel densities.
- Guidelines for Prompt Text images -- height and width
- Choices -- possibly just width?

[2013-05-13 22:37] hongsudt opened #64 "Adding GPS_OFF as one of locationStatus associated with GPS"
When GPS data is not available, we want to distinguish between the cases when GPS is off vs. when there is no GPS signal. This can be done by adding an additional status (i.e. GPS_OFF) to locationStatus associated with GPS within each survey response.

I like this since the same request can be applied to ohmage-mwf as well..

[2013-05-13 22:40] jshslsky commented on #64
Should this be in the WiFiGPSLocation repo issue tracker?

[2013-05-13 22:42] cketcham commented on #64
ohmage doesn't actually use WiFiGPSLocation. It has its own service for assigning a location to responses.

[2013-05-15 14:25] jojenki commented on #48
What fields seem appropriate here? max_duration?

[2013-05-15 14:27] cketcham commented on #48
I think that makes sense.

[2013-05-15 14:28] jshslsky commented on #48
I'd say the global file size limit is appropriate. There isn't a way to figure out the max duration unless you introspect on the file type, bit rate, etc.

[2013-05-15 14:28] jojenki commented on #48
@cketcham In the same way you can limit video duration, can you limit audio duration?

[2013-05-15 14:31] jojenki commented on #48
It looks like there are a couple ways to do it: http://stackoverflow.com/questions/9321380/how-to-automatically-limit-android-audio-recording-length

[2013-05-16 22:06] jojenki opened #65 ""max" property over 2^31-1 for number prompt causes the prompt to not exist"
Create a number prompt whose "max" property is larger than 2147483647. The server will say the prompt is valid. When the phone reads the campaign, it appears that everything works. Then, when it is displaying the survey that prompt will be missing. I am not sure what will happen if it is the only prompt in the survey.

[2013-05-16 22:19] jojenki commented on #60
For my first-pass, I used the property key "wholeNumber", which must be a valid, case-insensitive boolean, e.g. "true", "True", "FALSE". It cannot be "yes" or "1" or anything like that.

[2013-05-16 22:20] jojenki commented on #63
I am having an issue where my max value for a number prompt is, 2147483647. I then input a number like, 2147483646.999999999999999. The uploaded value was, 2.1474836479.

[2013-05-16 23:39] hongsudt commented on #64
@joshuaselsky @jojenki
Does the server validate the possible value of locationStatus?  Do we need to do anything on the server to support this new value?

[2013-05-17 16:39] jshslsky opened #66 "multiple mobility streams"
If I tap the Streams icon within ohmage, I see two Mobility streams.

Yesterday I updated to the latest ohmage-dev version from Google Play. I also just manually removed and installed Semantic Location Service.

![device-2013-05-17-123745](https://f.cloud.github.com/assets/238878/519181/45a4da3c-bf10-11e2-93e0-c238b530a0f9.png)

[2013-05-17 16:42] jojenki commented on #66
I also have two Mobilitys, but I have been up-to-date for a while, I believe.

Also, in my upload queue. I have two LogProbes.

John

On May 17, 2013, at 12:39 PM, Joshua Selsky notifications@github.com wrote:

[2013-05-21 16:31] cketcham commented on #66
It's showing one entry per probe, not per apk. Mobility has two probes, mobility and LogProbe, that is why there are two.

I think the reason this confused you is because of the bug which causes it to show "unknown probe metadata" instead of correctly showing information about the specific probe. I will push that version to the play store soon.

[2013-05-21 17:41] cketcham commented on #60
Seems that the server is case sensitive when trying add a new campaign

[2013-05-21 17:52] #60 closed, assigned to cketcham

[2013-05-21 21:41] cketcham commented on #65
actually fixed on latest version at http://web.ohmage.org/ohmage/apk/ but not in the play store version yet.

[2013-05-21 21:41] #65 closed, assigned to nobody

[2013-05-22 15:54] jojenki opened #67 ""Probe upload error" notification goes to Mobility"
When you click on the "Probe upload error" notification, it takes you to Mobility's analytics tab and not the upload queue or the Streams page.

[2013-05-22 18:00] cketcham commented on #63
ended up being due to server processing the code to json

[2013-05-22 18:00] #63 closed, assigned to cketcham

[2013-05-24 17:00] cketcham commented on #61
@jojenki It looks like the server sends no-cache in the headers for a call to app/image/read. Did we do this so private images wouldn't be cached on intermediate servers?

Since images will basically never change could we make the cache control private with max-age of a year? I think that should prevent intermediate caches from caching, but will still let the client cache.

I'm starting to use a l

[2013-05-24 19:00] cketcham opened #68 "Fix crash caused by external cache dir not being available"
Check that the sdcard is available for writing before recording audio

[2013-05-24 21:07] jshslsky commented on #61
I have pushed a change to odev so @cketcham can test. The cache control header for /app/image/read is now Cache-Control:max_age=1051200, private. I won't commit until we do some testing.

[2013-05-27 17:30] cketcham commented on #64
It looks like the server does validate the value of locationStatus.

I think we should add another value of "gps_off" that is sent if the gps provider is set off. Here is the logic that I think it should use based on how determining the location works now.
1. If the gps gives a location, use that.
2. Otherwise fall back on the network location.
3. If there is no network location and the GPS is tur

[2013-05-27 17:33] #67 closed, assigned to cketcham

[2013-05-30 17:55] jshslsky opened #69 "survey submission screen"
The survey submission screen is one more thing to navigate through and then tap to confirm. Perhaps on the last question the survey can be submitted and the final screen can just be an acknowledgement of that.

[2013-05-30 23:01] jshslsky opened #70 "debug play store issues"
We are having some issues with being beta testers. Also, we should evaluate if we still need the ohmage-dev account. (Just adding this as a reminder to review.)

[2013-06-06 20:37] jshslsky opened #71 "UTF-8 encoded characters do not render properly"
We went through an epic debug session to fix how we handle UTF-8 on the server. The issue is [here](https://github.com/cens/ohmageServer/issues/560). The server now handles multi-byte character encodings properly, but the Android app does not.

There is a UTF-8 Test campaign on odev.

The German characters below should be rendered as Ü ß ä, ö ü.

![screen shot 2013-06-06 at 4 36 28 pm](https://f.c

[2013-06-06 22:21] jshslsky opened #72 "the value for anytime is not being respected"
In the version of the app that is on Google Play for public use, the anytime element for surveys is not being respected. I.e., if anytime is false, participants can still launch the survey manually.

[2013-06-10 19:20] cketcham commented on #64
@joshuaselsky take a look at this

[2013-06-10 19:24] jshslsky commented on #20
The version of location reminders in ohmage is not always accurate. The best fix for this is to upgrade to Google's location services and we'll be doing that in a future release.

[2013-06-10 19:24] #20 closed, assigned to nobody

[2013-06-10 19:28] jshslsky commented on #70
@jojenki @stevenolen  just an FYI that the account you use in the Google Play app on your phone has to be the account you used to sign up for beta testing. Fixing this allowed me to get the latest version of the app: 2.16.3.

[2013-06-10 19:29] jshslsky commented on #66
Fixed.

[2013-06-10 19:29] #66 closed, assigned to nobody

[2013-06-10 19:30] jshslsky commented on #58
@stevenolen, @cketcham has not been able to recreate this. Can you try again?

[2013-06-10 19:35] jshslsky commented on #30
Add tests for the new 2.16 feature set.

[2013-06-10 19:40] stevenolen commented on #58
using otest with ohmage 2.16.3:

Steve's complex XML tests -> Message survey.  A message tag exists and is supposed to fire after answer the timestamp message, but does not (downloading the latest SDK tools now, can submit logs for this).

[2013-06-10 19:41] stevenolen commented on #58
oh. it's no longer a pop-up "alert window". I get it now. can close. my mistake, sorry!

[2013-06-10 19:53] #58 closed, assigned to cketcham

[2013-06-10 20:16] jshslsky opened #73 "android version of regimen change reminder"
See ohmage/TrialistMWF#25.

[2013-06-12 15:53] #71 closed, assigned to cketcham

[2013-06-12 15:56] #73 closed, assigned to cketcham

[2013-06-12 17:36] #48 closed, assigned to nobody

[2013-06-12 19:44] jshslsky commented on #64
To clarify a conversation that Cameron and I just had: the only values for location_status are valid, unavailable and gps_off. The server code was out of date and still supported the WiFiGPSLocationStatus values.

[2013-06-12 19:48] jshslsky commented on #64
@cketcham this has been pushed to odev.

[2013-06-12 20:17] #31 closed, assigned to cketcham

[2013-06-24 19:16] jshslsky commented on #64
@cketcham check your work laptop to see if the fix is there.

[2013-06-24 19:16] #70 closed, assigned to cketcham

[2013-06-25 15:50] cketcham commented on #72
I can't reproduce this bug. it appears to be working correctly on the newest version of the apk as well as the version for the play store. maybe the campaign is not configured with anytime set to false correctly?

[2013-06-25 16:49] cketcham commented on #25
it actually turned out to be quite a simple call:

[code]

[2013-06-25 20:54] jshslsky opened #74 "add a setting to disable location stamping"
Low priority, but we should look at a setting for disabling location stamping.

[2013-06-26 18:42] jshslsky commented on #50
@cketcham can you update the campaign definition page on the [ohmageServer wiki](https://github.com/cens/ohmageServer/wiki/Campaign-Definition)?

[2013-06-26 20:53] #72 closed, assigned to cketcham

[2013-06-26 20:58] #50 closed, assigned to cketcham

[2013-06-26 20:58] #61 closed, assigned to nobody

[2013-06-27 21:46] #64 closed, assigned to cketcham

[2013-07-02 16:42] jshslsky opened #75 "add the opt-in parameter to stream/upload"
If the user has opted in, send the preserve_invalid_points parameter to the stream/upload API.

[2013-07-02 18:57] cketcham commented on #75
here is a message to show when having a user opt in:
Help us improve our software by automatically reporting errors. Your login information will not be included.

[2013-07-02 19:19] jojenki commented on #75
That sounds ok. I feel like we should mention something that is a little more verbose as far as the fact that some raw observer data will be submitted instead of simply "errors", which is a little ambiguous. The thing is, the person that creates the observer is probably the same person that created the application, so that "person" will already have access to the raw data if they were going to be

[2013-07-02 19:57] hongsudt commented on #75
I agree if we can make it easy to understand. The problem is that nobody
knows what an observer/stream is when they first login to the software or
even after they use it for a while.

If I am a user and I don't understand the message, I will most likely say
"No".

On Tue, Jul 2, 2013 at 12:19 PM, John Jenkins notifications@github.comwrote:

[2013-07-03 20:36] #75 closed, assigned to cketcham

[2013-07-08 19:28] jshslsky commented on #25
Closing because the above line has been added to the source.

[2013-07-08 19:28] #25 closed, assigned to cketcham

[2013-07-08 19:44] jshslsky commented on #22
We have verified that any inconsistency was the result of a third-party app (e.g., Mobility) crashing.

See this updated server issue: https://github.com/cens/ohmageServer/issues/587

[2013-07-08 19:44] #22 closed, assigned to cketcham

[2013-07-08 19:49] jshslsky commented on #33
@cketcham since this isn't implemented, can you make sure it is removed from the spreadsheet?

[2013-07-08 20:54] cketcham commented on #33
I removed it

[2013-07-08 20:54] #33 closed, assigned to nobody

[2013-07-10 22:46] ctrance opened #76 "Prompt text image doesn't show on tablet"
On samsung galaxy note 8 (tablet 4.1.2), the image on timestamp prompt doesn't show. The image shows on the phone though (4.1.2)

<prompt>
<id>timestamp</id>
<promptTextMarkdown>What time is it? ![Ohmage Logo](https://dev.ohmage.org/web/images/theme-ohmage/dashboard-header-logo.png)</promptTextMarkdown>

[2013-07-11 17:01] ctrance opened #77 "Audio response is throwing upload error"
I finished responding to 'Audio' survey then uploaded my response but I'm getting "an error occurred while trying attempting to upload this response".

Below is the log:
07-11 09:56:49.240: D/SelectionBuilder(2169): query(columns=[responses._id, response_uuid, response_date, response_time, response_timezone, response_location_status, response_location_latitude, response_location_longitude, respons

[2013-07-11 21:44] jshslsky opened #78 "upload ohmage to the amazon Android store"
Not at all a priority, but this would be good to do. amazon also has this new feature where you can test drive an app.

[2013-07-11 21:54] cketcham commented on #78
wow the test drive thing is cool.. I wonder how that works... although the views for all the games I tried so far were unusable.

[2013-07-11 21:55] jshslsky commented on #78
It's probably like the Sauce Labs Selenium tool @stevenolen is using. They just boot up an Android image and run the app.

[2013-07-15 16:27] ctrance opened #79 "Adding new marker on tablet stops the app"
I was defining the location/adding a marker for the new location reminder. I press and hold the location on the map and the Add prompt shows loading approximate address...(the device's gps/wifi location is turned on). After a few seconds an error shows 'Unfortunately ohmage has stopped'.

Below is the log:
2013-07-15 09:06:00.070 E 24330/SpannableStringBuilder: SPAN_EXCLUSIVE_EXCLUSIVE spans canno

[2013-07-15 17:28] ctrance commented on #79
The error was encountered if I don't tap 'Add' button as soon as the add prompt show.

[2013-07-15 17:53] #79 closed, assigned to nobody

[2013-07-15 19:20] ctrance opened #80 "Tapping the blue dot didn't display the add marker prompt on the map"
Tapping the blue dot did not display the prompt to add a marker at my location. This was encountered on both phone (2.3.6) and tablet device (4.1.2)

[2013-07-15 19:42] ctrance opened #81 "Search Failed error when searching location on the map"
On tablet 4.1.2, I always get 'Search Failed' when searching for location on the map. There's data connection, I even tried the devices native map app and the searched location came up. I didn't encounter this issue on the phone though.

2013-07-15 12:28:25.690 D 24330/AbsListView: Get MotionRecognitionManager

2013-07-15 12:28:26.920 D 24330/GestureDetector: [Surface Touch Event] mSweepDown False

[2013-07-16 17:10] ctrance opened #82 "App crashes on prompt with 'greater than' condition"
The app crashes on both phone 2.3.6 and tablet 4.1.2, when I entered '65' to greater than/less than prompt. Campaign: Steve's Complex XML Tests, Survey: gt and lt Condition Survey, Prompt: 50+ tests greater, lower tests lt. tests default as well (should be 50)

Log:

07-16 09:56:23.271: D/dalvikvm(4812): GC_EXPLICIT freed 18K, 48% free 4035K/7751K, external 1625K/2137K, paused 90ms
07-16 09:56:23.

[2013-07-17 14:36] cketcham commented on #80
this is no longer a feature. the user should just long press near the blue dot to add a marker.

[2013-07-17 14:36] #80 closed, assigned to nobody

[2013-07-17 14:37] cketcham commented on #81
fixed with f592a85ac9fa73e16772858a5718d00caa88d1ce

[2013-07-17 14:37] #81 closed, assigned to nobody

[2013-07-17 14:38] cketcham commented on #77
this was a server issue that was fixed.

[2013-07-17 14:38] #77 closed, assigned to nobody

[2013-07-17 17:50] #82 closed, assigned to nobody

[2013-07-17 19:56] ctrance opened #83 "Response Info shows prompts not displayed to the user"
The prompt that didn't show when responding to the survey, showed up in Response Info. According to 279 case, List of prompt responses should display all (and only) prompts that were displayed to the user (NOT_DISPLAYED prompts should not appear)

![img_9705](https://f.cloud.github.com/assets/1034174/814697/cb9eb7fe-ef1a-11e2-92d5-dbe6bf041f07.JPG)

[2013-07-17 22:16] #83 closed, assigned to nobody

[2013-07-18 15:29] ctrance opened #84 "Location reminder doesn't trigger when reaching the location"
When I reach the location, the reminder didn't trigger on the device (both phone 2.3.6 and tablet 4.1.2)

[Edit: Log has been removed because we don't need it for this issue.]

[2013-07-18 16:48] ctrance opened #85 "Uploading from 'Control' page crashes the app."
Mobility upload from 'Control' page crashes the app.

Log:
07-20 10:56:00.050: D/ClassifierService(1617): 44 is how old this sample is!!!!!!
07-20 10:56:00.060: D/SelectionBuilder(1817): query(columns=[response_time]) SelectionBuilder[table=responses inner join campaigns on campaigns.campaign_urn=responses.campaign_urn inner join surveys on surveys.survey_id=responses.survey_id and surveys.campaig

[2013-07-18 17:08] ctrance commented on #85
After reinstalling the latest ohmage app, I didn't get this error anymore.

[2013-07-18 17:08] #85 closed, assigned to nobody

[2013-07-18 21:14] ctrance commented on #34
This remains an issue on 2.16.

[2013-07-30 19:21] jshslsky opened #86 "default image to upload in cases where the user deleted the image off their phone"
It would be good to have a default image to include in survey uploads when the user removes the image on their phone.

[2013-07-31 18:53] jshslsky commented on #86
Instead of this we should send IMAGE_NOT_FOUND for the response.

[2013-08-15 20:12] jshslsky opened #87 "problems with video prompt"
I am using the Video Test campaign. If I take a video, "Please take a video of something before continuing." appears even though I had recorded it already. The app then enters a strange state where sometimes the message appears on the dashboard. Weirdly, on one of my tests I was also able to upload a video even though I saw the message.

[2013-08-15 21:20] stevenolen opened #88 "Conditions using number crash app"
condition using the number result from a previous question, ie: (question2 == 3) crashes app with this log:

[code]

[2013-08-15 21:36] cketcham commented on #88
this is a duplicate of #82 and has been fixed but not put on the play store.

[2013-08-15 21:37] #88 closed, assigned to nobody

[2013-08-15 21:43] stevenolen commented on #88
sorry I missed that! :)

[2013-08-15 21:47] cketcham commented on #88
no problem. I should have made a new apk for the store a while ago...

[2013-08-15 22:14] jshslsky opened #89 "photo prompt does not obey maxDimension property"
I am trying to estimate server disk usage and when I use the photo testing campaign, all of the landscape images were 816x612 and portraits were 612x816. Is this the expected behavior?

[This is the campaign](https://github.com/ohmage/ohmageConfiguration/blob/master/campaign_xml/photo_test.xml).

[2013-08-15 22:46] cketcham commented on #89
I checked that campaign and noticed that the parameter which is defined is 'res' but it should be 'maxDimension'. Was 'res' ever a valid parameter? or did we just use res while testing and the campaign xml was never updated?

[2013-08-15 22:48] jshslsky commented on #89
`res` was the old value we used. At some point we upgraded to `maxDimension`.

Can you explain why the images are all being resized? If I take a photo with the stock camera app it's 2.5 MB. With ohmage, a very similar photo is 124 KB.

[2013-08-15 22:50] cketcham commented on #89
the default is to resize the image to be smaller than 800px on the long side
On Aug 15, 2013 3:49 PM, "Joshua Selsky" notifications@github.com wrote:

[2013-08-15 22:51] jshslsky commented on #89
Huh. So that means we should just get rid of `maxDimension` then and document the way it works.

[2013-08-15 22:57] cketcham commented on #89
no, it works with maxDimension, but the campaign xml for that campaign
incorrectly specifies 'res'. and because it doesn't specify maxDimension it
defaults to 800px
On Aug 15, 2013 3:51 PM, "Joshua Selsky" notifications@github.com wrote:

[2013-08-15 23:03] jshslsky commented on #89
OK, then we have a documentation task unless you have already documented this.

[2013-08-15 23:38] cketcham commented on #89
on the ohmageServer wiki it is already documented as being maxDimension

[2013-08-15 23:44] hongsudt commented on #89
Yea.. and if I remember correctly, since we have many campaigns that use
"res", we have a default of maxDimension=800 if it is not provided.

On Thu, Aug 15, 2013 at 4:38 PM, Cameron Ketcham
notifications@github.comwrote:

[2013-08-16 15:02] jshslsky commented on #89
@cketcham I meant that we should document what the Android app does when maxDimension is missing.

[2013-08-19 22:58] cketcham commented on #87
this appears to be a bug on some nexus devices. but there is a work around. https://code.google.com/p/android/issues/detail?id=57996

[2013-08-19 23:34] #87 closed, assigned to cketcham

[2013-08-19 23:40] cketcham commented on #89
updated the docs

[2013-08-19 23:40] #89 closed, assigned to cketcham

[2013-08-26 20:42] cketcham commented on #86
we decided to implement this for any media type, so the value is MEDIA_NOT_UPLOADED

[2013-08-28 16:13] #68 closed, assigned to cketcham

[2013-08-30 20:11] #86 closed, assigned to cketcham

[2013-09-05 21:06] jshslsky opened #90 "snooze button for reminders"
It would be nice to have snooze functionality. E.g., remind me again in 5 minutes.

[2013-09-16 18:51] jshslsky commented on #84
To fix, we should be using Google's new geo-fencing API. This has been marked as 2.16 and we can take a look if someone running 2.16 needs more accurate location triggers.

[2013-09-16 18:52] jshslsky commented on #78
Closing because this is more of a nice to have and if we did it, it would add complexity to our project because we'd have to manage deploys to two app stores.

[2013-09-16 18:52] #78 closed, assigned to cketcham

[2013-09-16 18:53] jshslsky commented on #76
Closing because the image will eventually load.

[2013-09-16 18:53] #76 closed, assigned to nobody

[2013-09-16 18:58] jshslsky commented on #59
This could possibly be taken care of by allowing the user to make the changes in project setup. Or we could show a text field for custom choices and populate the list with previous text entries.

[2013-09-16 19:03] jshslsky commented on #34
We are thinking about this. In the case where the phone was off for many days and the user had a few reminders per day, showing all of the reminders when the phone was turned on would be annoying.

For shorter time frames, we can store the last time a reminder fired and if the phone was only off for 24 hours or so.

We won't fix for 2.16, but we'll look at it for 3.0.

[2013-09-16 19:05] jshslsky commented on #8
This is part of the feature set for our 3.0 release.

[2013-09-16 19:05] jshslsky commented on #5
Closing because we are doing a complete UI refactor.

[2013-09-16 19:05] #5 closed, assigned to cketcham

[2013-09-16 20:11] #90 closed, assigned to cketcham

[2013-09-16 20:12] #74 closed, assigned to cketcham

[2013-09-16 20:12] #69 closed, assigned to cketcham

[2013-09-16 20:13] #59 closed, assigned to nobody

[2013-09-16 20:14] #34 closed, assigned to cketcham

[2013-09-16 20:15] #23 closed, assigned to cketcham

[2013-09-16 20:15] #19 closed, assigned to cketcham

[2013-09-16 20:16] #8 closed, assigned to nobody

[2013-09-17 20:58] stevenolen opened #91 "app gives nullpointer when using non-numeric condition?"
Phone app crashes with given campaign on otest:

`9172013 c`
prompt1 answer `one`
prompt2 type `test` (or anything)
prompt3 answer `0`
app crashes on prompt4 conditional:
`<condition>(p1 == 1 and p2 != NOT_DISPLAYED and p3 == 0)</condition>`

[code]

[2013-09-19 19:40] #91 closed, assigned to cketcham

[2013-10-08 20:31] ctrance opened #92 "'Message prompt' conditions are not working properly"
On test.ohmage.org, campaign '1082013 Msg Condition' has a message prompt that has condition below:

<message>
    <id>m2</id>
    <messageText>m2</messageText>
    <condition>(p1 == 1)</condition>
</message>

If my response on p1 is 0 the message prompt still shows...then if I go back and tapped 'previous' button without changing my response (still 0)...that's the only time the message prompt doe

[2013-10-11 18:59] #92 closed, assigned to nobody

[2013-10-11 20:08] ctrance commented on #92
@cketcham - Where can I get the fixed apk for this issue? So I can retest...

[2013-10-14 16:44] #30 closed, assigned to cketcham

[2013-10-14 16:44] #84 closed, assigned to cketcham

[2013-10-14 16:45] jshslsky opened #93 "the client parameter for the mobilize APK is the same as the one in standard ohmage"
For Mobilize, can the client parameter be mobilize-android? This will really help with auditing requests on the server side.

[2013-10-14 16:49] jshslsky opened #94 "uploads should not occur if the user's account is disabled"
We have an LAUSD user whose account is disabled, but the phone app continues to attempt to upload LogProbe data. When a user's account is disabled, they should be notified as well.

[2013-10-14 18:39] #93 closed, assigned to cketcham

[2013-10-14 18:39] #94 closed, assigned to cketcham

[2013-10-15 15:57] cketcham commented on #92
the apk here https://web.ohmage.org/ohmage/apk/ohmage-latest.apk has been updated.

[2013-10-15 16:13] ctrance commented on #92
@cketcham - The text prompt p5 has this condition (p3 == 5 and m2 != NOT_DISPLAYED and p4 == 0), my responses (p3=5, m2 is displayed, p4=0) met the condition but the text prompt still didn't show. You can use this campaign ''1082013 Msg Condition'

[2013-10-15 16:52] cketcham opened #95 "Should prompts be allowed to condition on if messages were displayed or not?"
This issue was brought up in #92.

Consider a Survey with 1 prompt followed by two messages. If the value of the prompt == 1, then the first message should be shown. If message1 == NOT_DISPLAYED, then the second message should be shown.

This is allowed by the server, but the phone doesn't handle it since whoever wrote the condition evaluator didn't allow messages to have values. So when the condi

[2013-10-15 17:04] cketcham commented on #95
Its not super easy to fix this bug on the phone. If we need it, we can do it at some in the future.

[2013-10-15 17:04] #95 closed, assigned to nobody

[2013-10-17 22:16] cketcham commented on #95
@jojenki, @hongsudt and I were talking and we think it might be best to prevent people from conditioning on if messages were shown or not on the server to prevent confusion. Since we don't support it on the phone (and it would be more work to add it on the phone), it shouldn't be allowed to pass validation. It should probably also show an error message to the user which tells them to take the cond

[2013-10-17 22:21] jshslsky commented on #95
We can fix this if the issue actually comes up in practice. Go go go 3.0.

[2013-10-17 22:30] hongsudt commented on #95
Doesn't the server already have this validation rule, and we just have to
uncomment it?

This issue came up because Cathy (who is an average user) creates a
campaign with a condition on whether a message is displayed.. And it killed
both the mwf and native android. Mwf displayed the wrong sequence and
couldn't upload the response.. Native showed the wrong sequence but was
able to upload the respon

[2013-10-17 22:42] jojenki commented on #95
For the record, my position was the opposite. Someone should be able to
condition off of whether or not a message was displayed/skipped.
On Oct 17, 2013 6:30 PM, "Hongsuda" notifications@github.com wrote:

[2013-10-17 22:45] cketcham commented on #95
I agree for 3.0 we should allow it, but for 2.x we should do something that is the least amount of work but is also consistent. It seems that it is easiest to prevent users from conditioning on if a message was displayed.

[2013-10-17 22:46] hongsudt commented on #95
I totally agree with you. We should make sure that 3.0 can support this.

For 2.x, I can go with either 1) server validates that message is not part
of the conditional statement, so that we won't be in the situation that I
mentioned earlier, or 2) get the phones to support them (both native and
mwf).  Since 1) seems to be less amount of work, I opted for that one :)

On Thu, Oct 17, 2013 at 3:42 P

[2013-10-17 23:13] jshslsky commented on #95
OK, I have fixed this. When this gets deployed, it will cause the server to fail to start up if any of the campaigns on that server contain conditions containing message ids. @stevenolen does Jenkins still deploy pushes to 2.16 to otest?

[2013-10-18 15:52] jshslsky commented on #95
I typed too fast last night. This fix won't cause the server to fail on startup, but any users who belong to campaigns with conditions based on message ids will not be able to login.

[2013-10-18 16:07] hongsudt commented on #95
Got it. Will ask Cathy to remove those surveys and retest..
On Oct 18, 2013 8:52 AM, "Joshua Selsky" notifications@github.com wrote:

[2013-10-18 16:09] jshslsky commented on #95
The new build is on otest.

[2013-10-18 16:18] jshslsky commented on #95
@hongsudt she won't be able to login. Do you know the URN or the name of the campaign that has the conditions based on messages?

[2013-10-18 16:24] hongsudt commented on #95
It is the campaign '1082013 Msg Condition' .

@ctrance are there other campaigns with message conditions?
On Oct 18, 2013 9:18 AM, "Joshua Selsky" notifications@github.com wrote:

[2013-10-18 16:28] jshslsky commented on #95
I removed that one, but there are others.

[2013-10-18 16:34] ctrance commented on #95
I don't remember the other campaigns (couldn't see anything after the login), but I think you can remove campaigns that have title '10/../2013...'.

[2013-10-18 16:35] jshslsky commented on #95
OK, there are also older campaigns that have this issue. I am going through the list.

[2013-10-18 17:05] jshslsky commented on #95
All of the offending campaigns have been removed from otest. All of them except one were small tests from @ctrance. The other one was a condition tester campaign that @jojenki wrote. I removed that one from the DB on otest, but it's still in GitHub.

[2013-10-24 23:58] cketcham opened #96 "We should maintain backwards compatibility for number prompts"
Since there are many campaigns which are currently in use and rely on values from number prompts being whole numbers, decimal values should not be allowed by default.

Currently the parameter which specifies if a number prompt must be a whole number is called wholeNumber. If whole number is true, decimal values are not allowed. It is odd to set a default boolean value to true, so it might make mor

[2013-10-30 19:57] jojenki commented on #96
What's the harm in having it allow decimal numbers by default?

[2013-10-30 19:58] cketcham commented on #96
the visualization and analysis components of campaigns that already exist depend on them being whole numbers...

[2013-10-30 19:58] jshslsky commented on #96
This is not critical and we don't have the cycles to fix it right now. Maybe later.

[2013-10-30 23:06] hongsudt commented on #96
Cameron,
then as a temporary solution, can you change the default value of
wholeNumber to true, instead of false?  This will be a simple change and
allow backward compatibility.

Thanks,

On Wed, Oct 30, 2013 at 12:58 PM, Joshua Selsky notifications@github.comwrote:

[2013-10-30 23:08] jshslsky commented on #96
Maybe at some time in the future, but not soon.

[2013-11-06 19:22] jshslsky commented on #96
@cketcham can you let @stevenolen the file that needs to be changed?

We'll have to redeploy both the ohamge and the Mobilize apps in Google Play.

[2013-11-06 21:01] #96 closed, assigned to nobody

[2013-11-06 21:02] cketcham commented on #96
I decided to just go ahead and push the change.. but I didn't build or test it. So @stevenolen can you do that for me? thanks for your help!

[2013-11-22 18:00] ctrance opened #97 "Multi-choice/Multi-choice custom prompt shows no warning when moving forward without a selected choice"
I tap 'next' button without selecting any item from the multi-choice/multi-choice custom prompt the app didn't warn me to either select an item or tap skip button instead. I tried doing the same on single-choice prompt but the app warned me to 'please select an item'. Please apply the same validation to multi-choice prompt.

[2014-03-11 01:03] cketcham opened #98 "Crash caused by looking at mobility chart"
I'm not exactly sure what caused this. I will need to investigate.

[code]

[2014-03-14 02:47] #97 closed, assigned to nobody

[2014-03-17 16:27] ctrance commented on #97
@cketcham - where can I get the latest apk again?

[2014-03-17 16:28] cketcham commented on #97
this should work https://web.ohmage.org/ohmage/apk/2.0/ohmage-latest.apk

[2014-03-21 15:55] jshslsky opened #99 "turn off LogProbe for otest"
We've never used the data and the volume of data has created performance problems for any kind of stream data.

[2014-04-08 19:05] cketcham commented on #99
should I stop logprobe everywhere? We are currently logging errors on play.ohmage.org and pilots.mobilizelabs.org, and everything on lausd.mobilizingcs.org, dev.ohmage.org and  test.ohmage.org.

One option is to just log errors? can we see how much space that is taking up on play.ohmage.org?

[2014-04-08 19:13] hongsudt commented on #99
Is there a way to rearrange the log message to be more of a row based
format? Eg turning 5 small records into one long record?

I think logs are useful. We just have to figure out how to make it work...

 On Apr 8, 2014 12:05 PM, "Cameron Ketcham" notifications@github.com
wrote:

[2014-04-08 19:41] jshslsky commented on #99
- dev.ohmage.org isn't relevant for 2.16 anymore
- test.ohmage.org should only log errors
- For LAUSD, I will leave it up to @hongsudt

[2014-04-10 22:25] jshslsky opened #100 "location reminders dependent on mobility"
Because ohmage contains only the interfaces for AccelService and WifiGPSLocationService, there can be a case where these services are not installed and location reminders won't work. If mobility is installed, the services are installed.

[2014-04-15 18:48] cketcham commented on #99
Only errors are logged

[2014-04-15 18:48] #99 closed, assigned to cketcham

[2014-08-28 20:45] ctrance opened #101 "Saved video doesn't get attached to the Video prompt"
Video prompt doesn’t work on native ohmage at all. I tried it on both Nexus One (2.3.6) and Samsung Galaxy Note 8 but the saved video doesn't get attached thus I'm getting message "Please take a video of something before continuing" when I click "Next". Please see the logs below: I tried recording video on the native camera outside ohmage and didn’t get any issue

[code]

[2014-08-28 20:53] stevenolen commented on #101
@ctrance what campaign did you test this with? I just tried with "Campaign B" on mtest and was able to submit a video just fine..

[2014-08-28 20:58] ctrance commented on #101
@stevenolen - I was using the same Video survey "Campaign B" but couldn't submit the video on both nexus one and galaxy note 8. I'll bring these devices to the meeting so you can see maybe I'm doing something wrong.

[2014-11-13 18:36] stevenolen opened #102 "fallback to openGL es 1.0 support for maps"
http://stackoverflow.com/questions/13714484/android-maps-api-requires-opengl-es-2

a [user reported their device, a Moto E](https://github.com/ohmage/android/issues/95), does not support openGL es 2.

[2016-10-04 08:55] deckertm opened #103 "Fail to build android lib and ohmage app"
Hi,

I'm trying to run your android application. However I've encountered some problems. I've added all project dependencies, however I'm still missing org.ohmage.library.R. Can you tell me where I can find it?

Kind regards,